.Prizes {
  min-height: 100vh;
  max-height: max-content;
  position: relative;
  background: url("../Prizes/Money-Heist-Mask-PNG-Image\ 3.svg");
  background-color: #000;
  background-position: center;
  z-index: 0;
}

.Prizes img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.Prizes .h_name {
  border-bottom: 5px solid #e60909;
  font-family: PurplePurse;
  font-style: normal;
  font-weight: bolder;
  font-size: 3.2em;
  line-height: 90px;
  color: #ffffff;
  text-shadow: 0.4rem 1rem 0.1rem rgba(0, 0, 0, 0.25);
  width: max-content;
  margin: auto;
}

.PrizesContainer {
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  /* align-items: center; */
}

.Prizes .PrizesContainer .cont1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../Prizes//award\ 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  margin: 50px;
}
.Prizes .PrizesContainer .cont2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: url("../Prizes//award\ 2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding: 50px;
  margin: 50px;
}

.Prizes .PrizesContainer .cont2 p {
  color: white;
  transform: translateY(-120%) translateX(-5%);
}
.Prizes .PrizesContainer .cont1 p {
  color: white;
  transform: translateY(-35%) translateX(-5%);
}

@media (max-width: 768px) {
  .Prizes {
    min-height: max-content;
  }
  .PrizesContainer {
    display: flex;
    flex-direction: row;
    min-height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;
  }

  .Prizes .PrizesContainer .cont1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }
  .Prizes .PrizesContainer .cont2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
  }

  /* .Prizes .PrizesContainer .cont2 p {
    color: white;
    transform: translateY(-120%) translateX(-5%);
  }
  .Prizes .PrizesContainer .cont1 p {
    color: white;
    transform: translateY(-35%) translateX(-5%);
  } */
}
